@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.circle-bg:nth-child(1) {
  border-color: #ef5285;
  left: 56%;
  top: 39%;
}

.c1 {
  width: 47%;
  height: 47%;
  background: #ef5285;
}

.circle-bg:nth-child(2) {
  border-color: #ef5285;
  left: 27%;
  top: 25%;
}

.c2 {
  width: 20%;
  height: 20%;
  background: #ef5285;
}

.circle-bg:nth-child(3) {
  border-color: #a5dff9;
  left: 71%;
  top: 24%;
}

.c3 {
  width: 31%;
  height: 31%;
  background: #a5dff9;
}

.circle-bg:nth-child(4) {
  border-color: #60c5ba;
  left: 45%;
  top: 49%;
}

.c4 {
  width: 17%;
  height: 17%;
  background: #60c5ba;
}

.circle-bg:nth-child(5) {
  border-color: #60c5ba;
  left: 52%;
  top: 54%;
}

.c5 {
  width: 24%;
  height: 24%;
  background: #60c5ba;
}

.circle-bg:nth-child(6) {
  border-color: #feee7d;
  left: 28%;
  top: 47%;
}

.c6 {
  width: 50%;
  height: 50%;
  background: #feee7d;
}

.circle-bg:nth-child(7) {
  border-color: #feee7d;
  left: 67%;
  top: 21%;
}

.c7 {
  width: 27%;
  height: 27%;
  background: #feee7d;
}

.circle-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.85;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.circle-bg:hover {
  opacity: 1;
}

.circle {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: circle 2s infinite alternate;
          animation: circle 2s infinite alternate;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
            transform: translate(-50%, -50%) scale(1.25);
    opacity: 1;
  }
}

@keyframes circle {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
            transform: translate(-50%, -50%) scale(1.25);
    opacity: 1;
  }
}
