$blue:#a5dff9;
$red:#ef5285;
$green:#60c5ba;
$yellow:#feee7d;
$colors:($blue, $red, $green, $yellow);
$circles: 7;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體, Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

@for $i from 1 through $circles {
  $circleColor: nth($colors, random(4));
  $widthHeight: 10%+random(40%);
  $left: 5% + random(80%);
  $top: 5% + random(70%);
  $delay: random(10) / 10;

  .circle-bg {
    &:nth-child(#{$i}) {
      border-color: $circleColor;
      left: $left;
      top: $top;
      // !太眼花撩亂，供參考繞圓圈寫法
      // animation: circleBg 2s infinite linear #{$delay}s;
      // !此會使 js 跟 css 絕對位置不一
      // transform: translate(-$left, -$top);
    }
  }

  .c#{$i} {
    width: $widthHeight;
    height: $widthHeight;
    background: $circleColor;
  }
}

.circle-bg {
  width: 200px;
  height: 200px;
  // border-style: dashed;
  // border-color: $blue;
  // border-radius: 50%;

  position: absolute;
  // left: 20%;
  // top: 20%;
  cursor: grab;
  opacity: 0.85;
  transform-origin: 97px 97px;
  transition: 0.2s;
  // animation: circleBg 9s infinite linear;

  &:hover {
    opacity: 1;
  }
}

.circle {
  // width: 15%;
  // height: 15%;
  max-width: 100%;
  max-height: 100%;
  // background: $blue;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: circle 2s infinite alternate;
}

@keyframes circleBg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.5;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.25);
    opacity: 1;
  }
}